.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 1rem;
    background-color: rgb(207, 203, 203);
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
nav ul{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    margin: 0 auto;
}

nav ul li{
    text-align: center;
    color: #551A8B;
}

.ecomer{
    color: rgb(223, 103, 5);
    font-size: 4rem;
}

.bx-cart-alt{
    cursor: pointer;
}



@media (max-width:650px){
    .header{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
        padding: 1.5rem;
       
    }
}