.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 1rem;
    background-color: rgb(207, 203, 203);
    height: 150px;
}
nav ul{
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-size: 1.3rem;
    margin: 0 auto;
}

nav ul li{
    text-align: center;
}

.ecomer{
    color: rgb(223, 103, 5);
}

.bx-cart-alt,.bx-receipt{
    font-size: 1.5rem;
}


@media (max-width:650px){
    .header{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
        padding: 1.5rem;
       
    }
}