.product_id{
    position: absolute;
    top: 150px;
    left: 0;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    max-width: 600px;
}

.agrega_product{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: red;
    padding: 0.4rem 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}

.marca{
    font-weight: bold;
    font-size: 1.5rem;
    color: gray;
}

.cantidades{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.canti1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.contador{
    border: 1px solid gray;
    width: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.conta{
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}
.conta2{
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1rem;
}

.carro{
    background-color: transparent;
}

.similar{
    text-align: center;
}

.slider{
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: relative; 
    overflow: hidden;   
}
.Slider_conten_img{
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.conten_img{
    width: 100%;
    height: 100%;
    padding: 1rem 2.5rem;
}

.img_product_slider{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn_slider{
    width: 2.3rem;
    font-size: 2.3rem;
    position: absolute;
    top: 45%;
    background-color: red;
    color: white;
    border-radius: 0.5rem; 
    z-index: 10;
    cursor: pointer;
}
.btn_slider:hover{
    filter: brightness(80%);
}

.btn_left{
    left: 0;
}
.btn_right{
    right: 0;
}

.preview_img{
    width: 300px;
    height: 70px;
    display: flex;
    gap: 0.5rem;
}

.conten_img_preview{
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    cursor: pointer;
}

.conten_img_preview:hover{
   scale: 1.1;
}

.conten_imgs_product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.border_img{
    border: 2px solid red;
    border-radius: 0.2rem;
}

.principal_producIs{
    display: flex;
    padding: 1.5rem;
    gap: 1rem;
}

.secundar_producId{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

@media screen and (max-width:750px) {
    .principal_producIs{
        flex-direction: column;
    }
}

@media screen and (max-width:380px) {
    .principal_producIs{
        padding: 0.5rem;
    }

    .secundar_producId{
        padding: 0.5rem;
    }
}