.purchese{
    display: flex;
    gap: 1.2rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    max-width: 98%;
}

.img_product1{
    width: 150px;
    aspect-ratio: 1.5;
}

.img_product1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0;
    margin: 0 auto;
}

.cantidad{
border: 1px solid gray;
width: 50px;
text-align: center;
padding: 0.5rem;
}

.fecha_comp{
    color: rgb(209, 206, 206);
}

@media screen and (max-width:400px){
    .name_putchese{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:342px){
    .fecha_comp{
        display: none;
    }
}