.register{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.register h2,.login{
font-size: 1.5rem;
color: red;
}


form{
    background-color:rgb(212, 210, 210);
    display:flex ;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.1rem;
    width: max-content;
    border-radius: 10px;
}
form div{
display: flex;
gap: 1rem;
font-weight: bold;
flex-direction: column;
gap: 0.5rem;

}
label{
    font-size: 1rem;
}
input{
    font-size: 1.2rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.boton{
    margin: 0 auto;
    color: white;
    background-color:green;
    border: none;
}
.boton:hover{
outline: none;
border: none;
transition: none;
}
.boton:focus{
    outline: none;
    border: none;
    transition: none;
}

.icon_user{
    font-size: 5rem;
}

.loguiado{
    justify-content: center;
    align-items: center;
    text-align: center;
}

li{
    list-style: none;
    font-weight: bold;
    color: #2FA8F8;
}
