.container_windonsProduct{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: rgba(1,0,0, 0.5);
}

.Windons_product{
    width: 250px;
    height: 250px;
    border: 2px solid darkblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(1,0,0, 1);
    padding: 1.3rem;
    text-align: center;
}

.Windons_product h1{
    color: white;
    font-size: 1.5rem;
}

.Windons_product span{
    font-size: 1.5rem;
}

.barra{
    width: 75%;
    height: 20px;
    background-color: rgb(218, 215, 215);
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.barra_load{
    background-color: rgb(10, 235, 10);
    width: 100%;
    height: 100%;  
    position: absolute; 
    top: 0;
    left: -100%; 
    animation: load 1s forwards;
}

.mensaje_act{
    animation: visibl 1s forwards;
}

@keyframes load{
    0%{
        left:-100%;
    }
    100%{
        left: 0;
    }
}

@keyframes visibl{
    0%{
       opacity: 0;
    }
    66.7%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}